    <br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br />

    <footer>
        <hr> CST 336 Internet Programming. 2019&copy;. Pimentel <br />

        <br />
        <img src="img/csumb.png" alt="CSU Monterey Bay Logo" width="149" height="86px">
    </footer>



</body>

</html>
