<!DOCTYPE html>
<html>
<link href="css/style.css" rel="stylesheet" type="text/css" />

<head>
    <meta charset="utf-8" />
    <title>Game Development: Design Patterns </title>
    <style>
        #home {
            font-weight: bolder;
        }
    </style>
</head>

<body style="background-color:black; color:white">